/* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/* Color Variables */
:root {
  --primary-color: #fff700;
  --primary-color-dark: #e6de00;
  --secondary-color: #00dba0;
  --secondary-color-dark: #00c28e;
  --passive-color: #f2f2f2;
  --passive-color-dark: #d9d9d9;
  --link-color: #0000ff;
  --max-z-index: 99999;
}

/* Typography */
.title {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
}

.bold {
  font-weight: bold;
  color: var(--link-color);
}

.lead {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 140%;
}

.paragraph,
.small,
.link,
.error {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
}

.paragraph {
  font-size: 1em;
}

.small {
  font-size: 0.875em;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

.error {
  font-style: italic;
  font-size: 1em;
  color: #df0000;
}

/* Buttons */
.primary-button,
.secondary-button,
.passive-button {
  display: inline-block;
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.25em;
  height: 3.5em;
  border: 1.5px solid black;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px black;
  border-radius: 10px;
  padding: 1em 1.25em;
  margin: 1.875em 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.primary-button:active,
.secondary-button:active,
.passive-button:active {
  box-shadow: 5px 5px 0px #000000;
  transform: translateY(4px);
}

.primary-button {
  background: var(--primary-color);
}

.primary-button:hover {
  background: var(--primary-color-dark);
}

.secondary-button {
  background: var(--secondary-color);
}

.secondary-button:hover {
  background: var(--secondary-color-dark);
}

.passive-button {
  background: var(--passive-color);
}

.passive-button:hover {
  background: var(--passive-color-dark);
}

.cursor-pointer {
  cursor: pointer;
}

/* body */
body {
  margin: 0;
}

hr {
  margin: 2.25em 0.625em;
  border: 1px solid var(--passive-color);
}

page-header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background: var(--passive-color);
  z-index: var(--max-z-index);
}

page-footer {
  position: absolute;
  background: var(--secondary-color);
  width: 100%;
}

.pages-content {
  font-family: Source Sans Pro;
  padding: 4em 12vw;
}

.pages-content-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}

.pages-content-element {
  width: 50%;
  padding: 1em;
  max-width: 30em;
  margin-right: 1em;
}

/* TODO: move this to location.css */
.pages-content-element .lead {
  margin-bottom: 1rem;
}

/* TODO: move this to location.css */
.pages-content-container:first-of-type {
  margin-bottom: 2.25em;
}

/* TODO: resolve duplicate conflict. move this to the back-anchor component. */
.back-anchor {
  padding: 1em 0em;
  height: 3rem;
}
.coordinates-input-wrapper {
  margin-bottom: 1rem;
}

.back-anchor {
  padding: 1em;
  font-size: 1em;
}

/* TODO: move .coordinates-input-container to location.css */
.coordinates-input-container {
  display: flex;
  margin-bottom: 1em;
}

.coordinates-input-container .input-number-tags {
  padding-left: 0;
}

.add-location-container {
  width: fit-content;
  cursor: pointer;
}

.coordinates-input-container > div {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: justify;
}

.delete-coordinates-container > svg {
  margin-top: 2.5rem;
}

.remove-location-container {
  display: flex;
  cursor: pointer;
}

.add-location-container {
  display: flex;
}

.add-location-icon {
  margin-right: 0.4rem;
}

.input-container label {
  font-family: Source Sans Pro;
  font-size: 0.875rem;
}

.map-buttons-container {
  display: flex;
  justify-content: space-between;
}

.text-input {
  border: 1px solid var(--passive-color-dark);
  box-sizing: border-box;
  border-radius: 5px;
  height: 3.125rem;
  padding: 1rem 1.25rem;
  font-family: Source Sans Pro;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

input:focus {
  outline: none;
}

#content-preview {
  display: flex;
  flex-direction: column;
}

.download-default-marker {
  display: flex;
  vertical-align: middle;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.beta {
  font-family: Source Sans Pro;
  margin-top: 5em;
  background-color: #fff700;
  padding: 1em;
}

.repo-url {
  font-size: 1.25em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 2em;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}
.loader__dot {
  animation: 1s blink infinite;
}
.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}

/* Responsive */
@media screen and (max-width: 900px) {
  /* Typography */
  .title {
    font-size: 2.5em;
  }

  .pages-content-container {
    flex-direction: column;
  }
  .pages-content-element {
    width: 100%;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 2.5em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
  color: white;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
.coupon-code-container {
  display: flex;
  flex-direction: column;
}

/* Style for the label */
.coupon-code-container label {
  font-size: 14px;
  color: #333; /* Adjust the color according to your design */
}

/* Style for the input */
.coupon-code-container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc; /* Adjust the border color according to your design */
  border-radius: 4px;
  width: 40%;
  color: white;
}
.hidden {
  display: none;
  gap: 5em;
}
.hiddenCampaign {
  display: none;
  gap: 5em;
}

#footer {
  padding: 2em 12vw;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.button2 {
  padding: 15px 20px;
  font: 12px "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 1em;
}

.button2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.button2 {
  color: black;
  background-color: #10ffb4;
  transition: 0.2s ease-in-out;
  border-left: 3px transparent solid;
  border-right: 3px transparent solid;
}

.button2:hover {
  color: #10ffb4;
  background-color: black;
  border-left: #10ffb4 3px solid;
  border-right: #10ffb4 3px solid;
}
.lead {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 140%;
}

.buttons > button,
.buttons > a {
  margin-right: 3.125em;
  cursor: pointer;
}

.paragraph {
  font-family: Source Sans Pro;
  max-width: 31.25em;
}

.primary-button,
.passive-button {
  display: inline-block;
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.25em;
  height: 3.5em;
  border: none;
  border: 1.5px solid black;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px black;
  border-radius: 10px;
  padding: 1em 1.25em;
  margin: 1.875em 0;
  text-decoration: none;
  color: black;
}

.primary-button:active,
.passive-button:active {
  box-shadow: 5px 5px 0px #000000;
  transform: translateY(4px);
}

.primary-button {
  background: var(--primary-color);
}

.primary-button:hover {
  background: var(--primary-color-dark);
}

.passive-button {
  background: var(--passive-color);
}

.passive-button:hover {
  background: var(--passive-color-dark);
}

.buttons > .publish-disabled {
  cursor: default;
  opacity: 1;
}
/*
  The grid itself needs only 4 CSS declarations:
*/

.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
}

.myGallery img {
  width: 100%;
}
.myGallery img.selected {
  border: 5px solid lightblue;
  border-radius: 2%;
}

.myGallery {
  font-size: 1rem;
}
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: block;
}

small {
  color: lightgray;
}

.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
  i {
    padding-right: 0.3em;
  }
}

#qrcode-container {
  display: none;
}

.qrcode {
  padding: 16px;
  margin-bottom: 30px;
}
.qrcode img {
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(67, 67, 68, 0.25);
  padding: 4px;
}
.row_ {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  max-width: 700px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
}
.close {
  font-family: Arial, Helvetica, sans-serif;
  background: #f26d7d;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}
.close:hover {
  background: #fa3f6f;
}
